.textarea_wrapper {
  margin-top: 60px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 373px;
  border-radius: 23px;

  background: repeating-linear-gradient(to right, #fbc02d 0 30px, transparent 31px 62px) top / 100%
      2px repeat-x,
    repeating-linear-gradient(to right, #fbc02d 0 30px, transparent 31px 62px) bottom / 100% 2px
      repeat-x,
    repeating-linear-gradient(to bottom, #fbc02d 0 30px, transparent 31px 62px) left / 2px 100%
      repeat-y,
    repeating-linear-gradient(to bottom, #fbc02d 0 30px, transparent 31px 62px) right / 2px 100%
      repeat-y;

  background-repeat: no-repeat;

  textarea {
    resize: none;
    font-size: 22px;

    width: 97%;
    height: 88%;
    padding: 12px;
    border-radius: 10px;
    background-color: #ffde8a42;

    &::placeholder {
      color: #000;
      opacity: 0.9;
    }

    &::-webkit-scrollbar {
      // chrome, edge, safari
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    &:focus {
      outline: none;
    }
  }
}
