@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url('../assets/fonts/SF-Compact-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url('../assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: url('../assets/fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
