.header_container {
  max-width: 1276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .header_inner_container {
    width: 562px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 25px;
    }

    .login_button {
      font-size: 25px;
      color: #fbc02d;
      padding-bottom: 4px;
    }
  }
}

.header_logo {
  font-family: 'SF-Compact-Rounded', sans-serif;
  font-size: 32px !important;
}
