.header_container {
  max-width: 1276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  p {
    font-size: 23px;
  }

  a {
    font-size: 23px;
    color: #fbc02d;
  }
}

.header {
  font-family: 'SF-Compact-Rounded', sans-serif;
  font-size: 32px !important;
}
